.banner {
  position: relative;
  /* height: 448px; */
  color: white;
  object-fit: contain;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  /* height: 190px; */
}

.banner__title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 2px black;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  width: 100%;
  max-width: 360px;
  height: 80px;
  text-shadow: 2px 2px 2px black;
}

.banner--fadeBottom {
  height: 7.4rem;

  background-image: linear-gradient(transparent, #111);
}

.banner__buttons {
  display: flex;
}

.banner__button {
  cursor: pointer;
  color: black;
  background-color: #eee;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__button > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__button:hover {
  background-color: #ccc;
  transition: all 0.2s;
}

.banner__moreInfo {
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
}

.banner__moreInfo:hover {
  background-color: rgba(109, 109, 110, 0.4);
  transition: all 0.2s;
}

.banner__youtube {
  margin-top: 20px;
  margin-right: 20px;
  height: 300px;
  width: 95%;
  max-width: 800px;
}

.banner__noTrailer {
  margin-top: 15px;
}

@media only screen and (min-width: 800px) {
  .youtube {
    height: 500px;
  }
}
