.row {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

/* .row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
  scrollbar-width: none;
  width: max-content;
  transform: translate(0px);
  transition: all 450ms;
} */

/* .row__posters::-webkit-scrollbar {
  display: none;
}
 */

.row__poster {
  max-width: 160px;
  object-fit: contain;
  border-radius: 5px;

  /* width: 100%; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-right: 10px;
  margin-left: 10px; */
  transition: all 450ms;
}

.picContainer {
  display: flex !important;

  /* min-width: 300px; */
  flex-wrap: nowrap !important;
}

.space {
  min-width: 10px;

  z-index: 300;
}

/* .row__poster::after {
  content: " ";
  width: 10px;
  background-color: red;
} */

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

/* .row__posterLarge {
  max-height: 250px;
} */

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

/* .wrapper {
  position: relative;
} */

/* .sliderArrow {
  width: 100px;
  height: 100px;
  background-color: rgb(22, 22, 22, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 99;
} */

/* .left {
  left: 0;
}

.right {
  right: 0;
}
 */

@media only screen and (min-width: 2000px) {
  .row__poster {
    max-width: 240px;
  }

  #widget2 {
    height: 500px;
  }
}
